---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('August 05 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hey!
	</p>
	<p>
		Welcome to the 'about' section of this blog. I'm not sure I have too much to say (especially when you consider that this is mostly just for me, and not really intended to be shared), but if you have somehow found your way here (which, given you're reading this, tracks), I'm Ellie. I used to write a lot of software, and then I started to write less and less.
	</p>
	<p>
		Despite doing a CS degree and working tech jobs, the amount of *actual* code I was writing went downhill, to the point where I felt like my coding skills were drying up. This blog is part of my goal to fix that.
	</p>
</Layout>
