---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				Heya,
			</p>
			<p>
				Welcome to ember, a software blog that I run as part of my efforts to improve my programming skills.
			</p>
			<p>
				It's built with <a href="https://astro.build">Astro</a>, and is intentionally kept as simple as possible. This isn't the focus of this project (at least from a software-development perspective), but rather a vessel for the handful of blog posts that live here (which actually are part of the focus).
			</p>
			<p>
				If you've stumbled on this by chance, and want to know more about why this blog exists and what the point is, you can read more in my introductory post on <a href="/blog/purpose-goals-and-methodology/">Purpose, Goals and Methodology</a>.
			</p>
			<p>
				Regardless, I hope you're having a great day :)
			</p>
			<p>
				~ Ellie ❤️
			</p>
		</main>
		<Footer />
	</body>
</html>
